@import 'src/global_styles/variables';

.movies {
  display               : grid;
  grid-template-columns : repeat(auto-fill, minmax(300px, 1fr));
  gap                   : 1rem;
}

.pages {
  font-size       : 1.3rem;
  display         : flex;
  flex-wrap       : wrap;
  justify-content : center;
  gap             : 1rem;

  li {
    padding          : .6rem;
    cursor           : pointer;
    border-radius    : 1rem;
    background-color : #E9E9ED;

    &.current {
      background : orange;
    }

    &:hover {
      transform        : scale(1.1);
      background-color : coral;
    }
  }
}