@import "src/global_styles/variables";

.search {
  display       : flex;
  overflow      : hidden;
  border        : 1px solid #ccc;
  border-radius : 1rem;
  justify-items : stretch;

  @media (min-width : 800px) {
    margin : 0 20%;
  }

  input {
    flex-grow   : 1;
    flex-shrink : 1;
    width       : 10px;
    margin      : .5rem .5rem .5rem 1rem;
  }

  select {
    padding-left : 1rem;

    &:hover {
      background-color : #ccc;
    }
  }

  button {
    padding : 0 1rem;
  }

  & > * {
    //border : 2px dashed black;
  }
}